[Unit]
Description=Pyget Web Service
After=network.target

[Service]
Type=simple
WorkingDirectory=%h/Git/pyget-web
ExecStart=%h/Git/pyget-web/run.sh
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target
